# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables (IMPORTANT)
.env

# VS Code settings (optional but recommended)
.vscode/

# Database / vector DB (VERY IMPORTANT for RAG)
db_chroma_db/
*.sqlite3

db/chroma_db

# Model / embeddings (future-proof)
*.bin
*.pt
*.pkl
*.faiss
*.index

# OS junk
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
frontend/dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?